body {
  font-family: Raleway;
  margin-left: 0;
  margin-right: 0;
}
header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.text-list,
address {
  font-size: 18px;
}
.header__links-list {
  display: flex;
  column-gap: 28px;
}
address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
}
.header__logo {
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
  justify-content: center;
}
.header__links-list-item {
  text-decoration: underline;
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 50px;
  padding-top: 165px;
  color: #fff;
}
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
}
.cover-fon {
  background-image: url(../images/cover.jpg);
   filter: brightness(50%);
  
}
.cover_title {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.aligned-text {
  display: block;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  column-gap: 25px;
  row-gap: 25;
  letter-spacing: 30px;
}
.no_space{
  letter-spacing: normal;
}
.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-top: 19px;
  margin-right: 25px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 19px;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  margin-top: 30px;
}
.bet-button {
  all: unset;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid;
  padding: 10px 25px 10px 25px;
  align-content: end;
  font-size: 22px;
}

.letter-spacing-extended {
  word-spacing: 10px;
  align-content: center;
  text-transform: uppercase;
}
.lots {
  margin-left: 0;
  padding-top: 150px;
  padding-right: 25px;
}
.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  margin-right: 0;
  padding-left: 25px;
}
.lots__card-list-item {
  all: initial;
  display: flex;
  flex-direction: column;

  position: relative;
  width: 334px;
  min-height: 596px;
  color: hsl(0, 0%, 100%);
}
.card__title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
}
.card__text {
  font-weight: 400;
  font-size: 20px;
  align-content: end;
}
.card__title,
.card__text {
  height: 100%;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  filter: brightness(50%);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  filter: brightness(50%);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  filter: brightness(50%);
}
.lots__look-more-link {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  padding-bottom: 0px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 50px;

  padding-left: 50px;
  padding-top: 150px;
  padding-right: 25px;
}
.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background: rgb(0, 0, 0);
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  justify-content: center;
}
.about__logo-image {
  align-self: center;
  width: 148px;
  height: 105px;
}
.about__column {
  padding-top: 85px;
}
.about__title {
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  row-gap: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}
.footer__menu-list-item {
  list-style: none;
}
.footer__menu-link {
  text-decoration: underline;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list-item {
  display: flex;
   column-gap: 40px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}

